@if(data != null) {
  <div style="display: flex; gap: 1rem">
    <label for="filterSelect">Filter By:</label>
    <br/>
    <select id="filterSelect" [(ngModel)]="selectedFilterOption" (ngModelChange)="updateFilter()">
      <option *ngFor="let category of filterOptions" [value]="category">{{ category }}</option>
    </select>
  
    @switch (selectedFilterOption) {
      <!-- All, leave as is -->
      @case (this.filterOptions[0]) {
      }
      
      <!-- Categories -->
      @case (this.filterOptions[1]) {
        <label for="filterSelect">Categories:</label>
        <br/>
        <select id="filterSelect" [(ngModel)]="selectedCategoryOption" (ngModelChange)="updateFilter()">
          <option value="Default">Default (Built-In)</option>
          <option *ngFor="let category of data.categories" [value]="category">{{ category }}</option>
          <option value="Unknown">Unknown (Built-In)</option>
        </select>
      }
  
      <!-- Sources -->
      @case (this.filterOptions[2]) {
        <label for="filterSelect">Sources:</label>
        <br/>
        <select id="filterSelect" [(ngModel)]="selectedSourceOption" (ngModelChange)="updateFilter()">
          <option *ngFor="let category of data.sources" [value]="category">{{ category }}</option>
          <option value="Unknown">Unknown</option>
        </select>
      }
    }
  </div>
  
  <div style="display: flex; gap: 1rem">
    <label for="sortSelect">Sort By:</label>
    <br/>
    <select id="sortSelect" [(ngModel)]="selectedSortOption" (ngModelChange)="updateSorting()">
      <option *ngFor="let category of sortOptions" [value]="category">{{ category }}</option>
    </select>
  
    <label for="sortSelect">Sort Direction:</label>
    <br/>
    <select id="sortSelect" [(ngModel)]="selectedSortDirection" (ngModelChange)="updateSorting()">
      <option *ngFor="let category of sortDirections" [value]="category">{{ category }}</option>
    </select>
  </div>
  
  <table>
    <thead>
      <tr>
        <th *ngFor="let header of displayedColumns">{{header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr [ngClass]="{'resolved': manga.resolved }" *ngFor="let manga of data.manga" (click)="printManga(manga)">
        <td>{{manga.id}}</td>
        <td>{{manga.title}}</td>
        <td>{{getAddedDate(manga.id) | date }}</td>
        <td>{{ getCategories(manga.id) }}</td>
        <td>{{manga.sourceId }}</td>
        <td>{{ manga.resolved }}</td>
      </tr>
    </tbody>
  </table>
}

@else {
    <div class="landing">
      <h1>
        Aidoku Backup Reader
      </h1>

      <span>
        This app can help with performing manual backup to other sources such as Paperback.
        Tachiyomi .tachibk / .proto.gz backups can be used in this case by using this <a href="https://manga.kingbri.dev/">tool</a>. <a href="https://tachiyomi-to-aidoku.vercel.app/">(backup link)</a>
      </span>

      <br />

      <input type="file" (change)="onFileSelected($event)" accept=".json">
    </div>

}